body .splash-container {
height: 100%;
background-color: white;
padding-top: 15%;
}
.splash-container table{
width: 685px;
margin-left: auto;
margin-right: auto;
}
.splash-container h1{
text-align: center;
}